version: '3.9'
services:
  postgres:
    image: postgres:15
    ports:
      - "5432:5432"  
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    build: ./backend
    ports:
      - "8000:8000"  
    depends_on:
      - postgres
    environment:
      - DATABASE_URL
      - JWT_SECRET
      - ENV_NAME
  redis:
    image: redis:7
    ports:
      - "6379:6379"
volumes:
  postgres_data: